body{
  /*background: linear-gradient(#EDEFFE, #EDFEEE, #EDEFFE);*/
  background-color: #E6E6E6;
}

ol, ul{
  margin-top: -5px;
}

ol li{
  margin-left: -17px;
}

ul li{
  margin-left: -25px;
}

.jumbotron{
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
  background-color: #F5DEB2;
  font-family: sans-serif;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-bottom: 22px;
}
.jumbotron h1{
  padding-top: 0px;
  font-weight: 600;
  font-size: 2.69em;
}


#leftBar{
  background-color: #8EBC8E;
  padding-left: 5px;
  font-size: 100%;
  min-height: 800px;
}

#leftBar h1{
  font-size: 1.05em;
  font-weight: 600;
  color: black;
  /*padding-top: 0px;
  margin-top: 0px;*/
  margin-bottom: 5px;
}

#leftBar h2{
  color: #F5DEB2;
  font-size: .8em;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: sans-serif;
  /*margin-bottom: -12px;*/
}

#leftBar h3{
  color: white;
  font-size: .6em;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#leftBar h4{
  color: #386cc1;
  font-size: .6em;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#rightBar{
  padding-left: 30px;
}
#rightBar h4{
  font-weight: 700;
  margin-bottom: -5px;
  padding-top: 15px;
}

#rightBar h5{
  font-size: .75em;
  font-weight: 700;
  margin-bottom: 5px;
}

#rightBar p, li{
  font-size: .7em;
}

.form-group input{
  width: 25%;
  height:50%;
  float: left;
}

.form-group label{
  height:50%;
  float: left;
}

.btn-default{
  background-color: #BEBEC0;
}

@media screen and (min-width: 768px) {
  body{
    font-size: 12px;
  }

  #leftBar{
    padding-left: 15px;
    font-size: 30px;
  }
  #rightBar h4{
    font-size: 30px;
  }
  #rightBar h5{
    font-size: 18px;
  }

  #rightBar p, li, label{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .form-group input{
    width: 25%;
    height:50%;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-size: .65em;
  }

  .form-group label{
    /*width: 25%;*/
    font-size: .54em;
    /*height:50%;*/
    float: left;
    font-weight: 900;
    padding-top: 2px;
    padding-right: 2px;
  }

  .btn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .65em;
    margin-top: -5px;
  }
}
